body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6dd5fa, #2980b9);
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container {
    background: white;
    padding: 25px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.balance-box {
    text-align: center;
    background: #f1f1f1;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.balance-box p {
    font-size: 28px;
    font-weight: bold;
    color: #2980b9;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.summary-card {
    background: #f9f9f9;
    width: 48%;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.summary-card.income p {
    color: green;
    font-weight: bold;
    font-size: 20px;
}

.summary-card.expense p {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-section input,
.input-section select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#addBtn {
    background: #2980b9;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

#addBtn:hover {
    background: #176fa1;
}

#transactionList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#transactionList li {
    background: #f1f1f1;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.amount-income {
    color: green;
    font-weight: bold;
}

.amount-expense {
    color: red;
    font-weight: bold;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.clear-btn {
    margin-top: 20px;
    width: 100%;
    background: #ff5252;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.clear-btn:hover {
    background: #e64545;
}
